.Rhistory
.RData
.Rproj.user/
*.Rcheck/
*.tar.gz
.Renviron
resultados/
developer/
tmp/
*.Rcheck/
examples/**/results/
help/*.aux
help/*.idx
help/*.ilg
help/*.ind
help/*.log
help/*.out
help/*.toc
scaleLLMflow.pdf
^examples/.*/results(/.*)?$
